{% extends "layout.html" %}

{% block title %}
    My Account
{% endblock %}


{% block main %}
<form action="/account" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="old_password" placeholder="Old Password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="new_password" placeholder="New Password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="new_password_confirm" placeholder="New Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>

{% endblock %}